@import "colors.scss";

@font-face {
    font-family: HankenGrotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

// base elements' styles

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: HankenGrotesk;
}

p {
    font-size: 15px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 24px;
}


// custom classes

.main-container {
    justify-content: center;
    flex-grow: 1;
}

.content-container {
    display: flex;
    flex-direction: row;
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px $light-lavender;
}

.result-container {
    border-radius: 0.75rem;
    background-image: linear-gradient($light-slate-blue, $light-royal-blue);
}

.main-container, .summary-container {
    display: flex;
    flex-direction: column;
}

.result-container, .summary-container {
    padding: 2rem;
    width: 100%;
}

@media screen and (max-width: 500px) {
  
    .result-container,
    .summary-container {
        width: auto;
    }

    .content-container {
        flex-direction: column;
    }
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: linear-gradient($violet-blue, $light-royal-blue);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.list-item {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 0.75rem;
}

.continue-button {
    color: $white;
    background-color: $dark-gray-blue;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
    width: 100%;
    padding: 0.75rem
}

.continue-button:hover {
    background-color: $light-royal-blue;
    cursor: pointer;
}

#list p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
}

#list img {
    margin-right: 0.25rem;
}

.attribution { 
    padding: 0.25rem;
    bottom: 0px;
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}


// common styles

.flex-grow {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.text-white {
    color: $white;
}

.text-light-lavender {
    color: $light-lavender;
}

.text-light-red {
    color: $light-red;
}

.text-orangey-yellow {
    color: $orangey-yellow;
}

.text-green-teal {
    color: $green-teal;
}

.text-cobalt-blue {
    color: $cobalt-blue;
}

.text-dark-gray-blue-lighter {
    color: $dark-gray-blue-lighter;
}

.w-full {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-sm {
    margin-bottom: 0.25rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.font-bold {
    font-weight: 800;
}

.font-18px {
    font-size: 18px;
}

.bg-light-red-lighter {
    background-color: $light-red-lighter;
}

.bg-orangey-yellow-lighter {
    background-color: $orangey-yellow-lighter;
}

.bg-green-teal-lighter {
    background-color: $green-teal-lighter;
}

.bg-cobalt-blue-lighter {
    background-color: $cobalt-blue-lighter;
}
